################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dto/Module.Dto/obj
/Dto/Module.Dto/bin
/Factory/Module.Factory/bin
/Factory/Module.Factory/obj
/Factory/Module.Factory.Interface/bin
/Factory/Module.Factory.Interface/obj
/Integration/Module.Integration/bin
/Integration/Module.Integration/obj
/Integration/Module.Integration.Interface/bin
/Integration/Module.Integration.Interface/obj
/IoC/Module.IoC/bin
/IoC/Module.IoC/obj
/IoC/Module.IoC.Interface/bin
/IoC/Module.IoC.Interface/obj
/IoC/Module.IoC.Register/bin
/IoC/Module.IoC.Register/obj
/Repository/Module.Repository/bin
/Repository/Module.Repository/obj
/Repository/Module.Repository.Interface/bin
/Repository/Module.Repository.Interface/obj
/Repository/Module.Repository.Model/bin
/Repository/Module.Repository.Model/obj
/Service/Module.Service/bin
/Service/Module.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Service/Module.Service/obj
/Service/Module.Service.Interface/bin
/Service/Module.Service.Interface/obj
/ServiceValidation/Module.Service.Validation/bin
/ServiceValidation/Module.Service.Validation/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ServiceValidation/Module.Service.Validation/obj
/ServiceValidation/Module.Service.Validation.Interface/bin
/ServiceValidation/Module.Service.Validation.Interface/obj
/Test/UnitTest/bin
/Test/UnitTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Test/UnitTest/obj
/Utilidade/Module.Util/bin
/Utilidade/Module.Util/obj
/WebApi/bin
/WebApi/obj
/.vs